<% include ../layout/header %>
<% include ../layout/top-menu %>
<% include ../layout/side-menu %>
<section class="main">
            <h4>Add Student Here</h4> 
            <form action="/insertStudent" method="POST" class="form-row">
                <div class="form-group col-md-4">
                    <label for="sname">Student Name</label>
                    <input type="text" name="sname" class="form-control" placeholder="Name">
                </div>
    
                <div class="form-group col-md-4">
                    <label for="class">Student Class </label>
                    <select name="classId" id="classId" class="form-control">
                        <option value="">Select Class</option>
                        <% classesResult.forEach((item) => { %>
                        <option value="<%=item.id%>"><%=item.className%></option>
                        <%});%>
                    </select>
                </div>
    
                <div class="form-group col-md-4">
                    <label for="gender">Select Gender</label>
                    <select name="gender" id="gender" class="form-control">
                        <option value="">Select gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>    
                </div>

                <fieldset>
                    <legend>Parent Details:</legend>
                    <div class="form-group">
                        <label for="fname">Father name </label>
                        <input type="text" name="fname" class="form-control" placeholder="Father name" value="">
                    </div>
    
                    <div class="form-group">
                        <label for="mname">Mother name </label>
                        <input type="text" name="mname" class="form-control" placeholder="Mother name" value="">
                    </div>
                    <div class="form-group">
                            <label for="fphone">Father # </label>
                            <input type="text" name="fphone" class="form-control" placeholder="Father #" value="">
                        </div>
        
                        <div class="form-group">
                            <label for="mphone">Mother # </label>
                            <input type="text" name="mphone" class="form-control" placeholder="Mother #" value="">
                        </div>
                        <div class="form-group">
                                <label for="address">Address </label>
                                <input type="text" name="address" class="form-control" placeholder="Address" value="">
                            </div>
            
                            <div class="form-group">
                                <label for="note">Note</label>
                                <textarea name="note" id="" class="form-control" cols="10" rows="5"></textarea>
                            </div>   
                </fieldset>
               
    
                <div class="form-group">
                    <input type="submit" value="Add Student" class="btn btn-primary">
                    <a href="/" class="btn btn-primary">List Student</a>
                </div>
            </form>
        </section>
        <% include ../layout/footer %>