<% include ../layout/header %>
<% include ../layout/top-menu %>
<% include ../layout/side-menu %>
<section class="main">

            <h4>Add Subject</h4>
            <form action="/subjectAdd" method="POST" class="form-row">
                <div class="form-group col-md-6">
                    <label for="sname">Name of subject </label>
                    <input type="text" name="sname" class="form-control" placeholder="Name of Subject">
                </div>
    
                <div class="form-group col-md-6">
                <label for="province">Select Teacher:</label>
                    <select class="form-control" id="teacherId" name="teacherId">
                        <option value="">Select Teacher</option>
                        <% teachersResult.forEach((item) => { %>
                        <option value="<%=item.id%>"><%=item.fullName%></option>
                    <% }); %>
                </select>
                </div>


                <div class="form-group col-md-6">
                    <label for="subjectTeachingDay">Teaching Day </label>
                    <select name="tDay" id="" class="form-control">
                        <option value="">Select Teaching Day</option>
                        <option value="saturday">Saturday</option>
                        <option value="sunday">Sunday</option>
                        <option value="monday">Monday</option>
                        <option value="tuesday">Tuesday</option>
                        <option value="wednesday">Wednesday</option>
                        <option value="thursday">Thursday</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="stime">Start Time </label>
                    <input type="time" name="stime" class="form-control" placeholder="Start time">
                </div>

                <div class="form-group col-md-12">
                    <label for="etime">End Time </label>
                    <input type="time" name="etime" class="form-control" placeholder="end time">
                </div>

                <div class="form-group col-md-6">
                    <input type="submit" value="Add subject" class="btn btn-primary">
                    <a href="/subjectList" class="btn btn-primary">List subject</a>
                </div>
            </form>
        </section>
        <% include ../layout/footer %>