<link rel="stylesheet" href="/css/menu.css">
<nav class="navbar navbar-expand-sm bg-dark navbar1">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
    </li>
    </form>
  </ul>
</nav>

