<div class="sidebar">
        <a href="/"><i class="fa fa-fw fa-home"></i> Students</a>
        <a href="/parentList"><i class="fa fa-fw fa-wrench"></i> Parents</a>
        <a href="/teacherList"><i class="fa fa-fw fa-user"></i> Teachers</a>
        <a href="/subjectList"><i class="fa fa-fw fa-envelope"></i> Subjects</a>
        <a href="/asList"><i class="fa fa-fw fa-envelope"></i> Assignments</a>
        <a href="/listClas"><i class="fa fa-fw fa-envelope"></i> Classes</a>
</div>