<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.min.css"></script>
    <script src="js/popper.min.js"></script>
    <title>Add Class</title>
</head>
<body>
    <div class="container">
            <h1>Add Class</h1>
            <form action="/addData" method="POST">
                <div class="form-group">
                    <label for="classNumber">Please enter class number</label>
                    <input type="text" name="classNumber" class="form-control" placeholder="Class Number i.e First, second...">
                </div>

                <div class="form-group">
                    <label for="subject">Please enter your subject </label>
                    <input type="text" name="subject" class="form-control" placeholder="Subject" value="">
                </div>
    
                <div class="form-group">
                    <label for="teacher">Please enter teacher's name </label>
                    <input type="text" name="teacher" class="form-control" placeholder="teacher" value="">
                </div>

                <div class="form-group">
                    <input type="submit" value="Add Student" class="btn btn-primary">
                </div>
    
            </form>
    </div>
</body>
</html>